@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  /* shared styles */
  .display-flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
        
  }

  /* navbar related styles */
  .nav-item-1{
    max-width: 202px;
    margin:  20px 186px 20px 141px;

  }
  .nab-item-title{
    font-size: 32px;
    font-weight: bold;
    color: rgba(17, 17, 17, 1);
  }

  .nav-item-2{
    
  }
  .navlist{
    list-style: none;
   margin-right: 30px;
  }
  .navlink{
    text-decoration: none;
  }
  .Home{
    font-size: 20px;
    font-weight: bold;
    color: rgba(254, 163, 1, 1);
  }
  .About{
    font-size: 20px;
    font-weight: 500;
    color: rgba(1, 172, 253, 1);
  }
  .Facilities{
    font-size: 20px;
    font-weight: 500;
    color: rgba(5, 212, 223, 1);
  }
  .Admission{
    font-size: 20px;
    font-weight: 500;
    color: rgba(93, 88, 239, 1);
    margin-right: 186px;
  }
 
  .btn-primary{
    background-color: rgba(254, 163, 1, 1);
    color: white;
    padding: 10px 60px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 12px;
    margin-right: 141px;
    border: none;
  }
  /* head section style */
  .head{
    margin-top: 10px;
    margin-left: 141px;
    margin-right: 140.39px;
    margin-bottom: 10px;
    /* max-width: 1158.61px; */
    align-items: center;
    
  }
  .headcontent{
    padding-top: 122px;
    padding-bottom: 122px;
    padding-right: 50px;
  }
  .title{
    font-size: 56px;
    font-weight: bold;
  }
  .t1{
    color: rgba(254, 163, 1, 1);
  }
  .t2{
    color: black;
  }
  .t3{
    color: rgba(1, 172, 253, 1);
  }
  .description{
    font-size: 20px;
    font-weight: 400;
    color: black;
    /* padding: 24px 50px 24px 0px; */
    margin: 24px auto;
  }
  .img-container img{
    width: 100%;
    max-width: 468px;
    margin-right: 140.39px;
  }
  .btn-primary2{
    background-color: black;
    color: white;
    padding: 10px 47px;
    border-radius: 12px;
    border: none;
    font-size: 20px;
    font-weight: bold;
  }
  /* sectioncontainer */
  .sectioncontainer{
   background-image: url(../assets/bg.png);
   justify-content: center;
   align-items: center;
  }
  .card-container{
    justify-content: center;
  }
  .section-title{
    text-align: center;
    font-size: 46px;
    font-weight: bold;
    color: black;
    padding: 60px 349.6px 80px 349.6px;
  }
  .card-1{
    background-color: rgba(222, 245, 255, 1);
    justify-content: center;
    align-content: center;
    background: linear-gradient(to bottom, rgba(222, 245, 255, 1), rgba(255, 255, 255, 0) );
    padding: 40px 20px 84px 50px;
    margin-right: 30px;
    border-radius: 18px;
  }
  .card-2{
    background-color: rgba(255, 244, 220, 1);
    justify-content: center;
    align-content: center;
    background: linear-gradient(to bottom, rgba(255, 244, 220, 1), rgba(255, 255, 255, 0) );
    padding: 40px 20px 84px 50px;
    margin-right: 30px;
    border-radius: 18px;
  }
  .card-3{
    background-color: rgba(242, 232, 255, 1);
    justify-content: center;
    align-content: center;
    background: linear-gradient(to bottom, rgba(238, 225, 255, 1), rgba(255, 255, 255, 0) );
    padding: 40px 20px 84px 50px;
    margin-right: 30px;
    border-radius: 18px;
  }
  .card-title{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding: 32px auto;
  }
  .carddes{
    font-size: 15px;
    font-weight: 500;
    color: rgba(128, 128, 128, 1);
    text-align: center;
    margin-bottom: 33px;
  }
  .subtitle1{
    font-size: 15px;
    font-weight: bold;
    color: rgba(100, 200, 255, 1);
    text-align: center;
    margin-bottom: 53px;
  }
  .subtitle2{
    font-size: 15px;
    font-weight: bold;
    color: rgba(240, 170, 0, 1);
    text-align: center;
    margin-bottom: 53px;
  }
  .subtitle3{
    font-size: 15px;
    font-weight: bold;
    color: rgba(135, 0, 255, 1);
    text-align: center;
    margin-bottom: 53px;
  }
  /* .icon{
    justify-items: center;
    align-items: center;
    position: relative;
  }
  .fa-solid fa-circle{
    size: 50px;
  } */
